
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<div id="myCarousel" class="carousel Slide" data-ride="carousel" style="width:800px;height:500px;background-color:blanchedalmond">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            @*<img style="width:300px;height:240px" src="~/Images/Swaroop.Jpg" alt="Swaroop">*@
            <div style="align-content:center">
                <p style="color:black;font-size:medium;line-height:25px;padding:10px;">
                    <span>
                        Hi This is Swaroop. Working as a consutant in Hitachi Consulting. I am working for client PPG and supporting 3 applications named PA20 , GPA and Target Plus.<br />
                        <ul>
                            <li>
                                I am also actively participating in Cop activities. I developed a tool called HiView with a team of freshers. <br />
                            </li>
                            <li>
                                HiView is live and running as an organizational tool.
                            </li>
                        </ul>
                    </span>
                </p>
            </div>
        </div>

        <div class="item">
            @*<img style="width:300px;height:240px" src="~/Images/Swaroop_Old.jpg" alt="Swaroop">*@
            <p style="color:black;font-size:medium;line-height:25px;padding:10px;">
                <span>
                    Key contributions are listed below<br />
                    <ul>
                        <li>
                            Resolved a high priority issue of PA20 project. Worked on a Friday night and received appreciation emails from Manager and Clients.
                            <br />

                        </li>
                        <li>
                            Resolved a critical and aging issue of GPA project. Received appreciation emails from Manager and Clients.
                            <br />

                        </li>
                        <li>
                            Supporting 3 critical projects and for 2 projects I am the primary contact.
                            <br />

                        </li>
                        <li>
                            Received many client appreciations for reacting quickly to their problems with solutions.
                            <br />

                        </li>
                        <li>
                            Developed a project called HIView which is live and running as an organizational tool. Worked on Saturdays and Sundays to complete the project.
                            <br />
                        
                        </li>
                        <li>
                            I am supporting 3 PPG projects along with this HIView.
                            <br />
                        </li>
                        <li>
                            Lead the team of fresher’s and completed the tool HIView with good quality.<br />
                        </li>
                        <li>
                            Revived Sparkle and Team Award for HIView.<br />
                        </li>
                        
                        <li>
                            Received appreciations from project Manager Madhusudan Kaspa, Vinay Goyal, Bernard James and Sanjay Suri on HIView.<br />
                        </li>
                        
                        <li>
                            Trained Asp.net, C#, Win forms, Sql and SSIS to fresher’s in the team.<br />
                        </li>
                        
                        <li>
                            HiView is live and running as an organizational tool.
                        </li>
                    </ul>
                </span>
            </p>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

